* {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    background-color: rgb(108, 108, 108);
}




.panel {
    background-color: lightgray;
    border-color: black;
    margin: 20px;
    padding: 20px;
}

table td, table td * {
    vertical-align: top;
}



