*, *::before, *::after  {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 80vh;
    min-height: 220px;
    justify-content: center;
    align-items: center;
    background-color: hsl(200, 100%, 20%);
}

.response {
    width: 80%;
}

form {
    padding: 5px;
}


.container {
    width: 400px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    text-align: center;
}

.hide {
    display: none
}

.ok-button, .start-button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid;
}